{% extends 'ultimatereview/base.html' %}

{% load staticfiles %}

{% block title %}About{% endblock %}

{% block body_block %}

<div><center><h2>About</h2></center></div>

<div>
  <center><label>Overview</label></center>
  <center><p>The Ultimate Review is a tool to help researchers carry out a Systematic Review on a medical topic
  using results provided by the PubMed search engine.</p></center>
  <center><label>How to use The Ultimate Review?</label></center>
  <center><p>As a registeder user you can create Review topics and add search queries to them.<br>
  Searching for the queries returns the abstracts of the documents that match your search. You can read the 
  abstracts and mark them as either relevant or not relevant to your topic.<br>
  After all abstracts have been 
  marked, you can read the full text of the documents whose abstracts were relevant (link provided where available)
  and make a final decision of their relevance.<br>
  The documents marked relevant should be the resources you were looking for.</p></center>
  <center><p>&#169 The Ultimate Review</p></center>
</div>

{% endblock %}
