{% extends 'ultimatereview/base.html' %}

{% load staticfiles %}

{% block title %}About{% endblock %}

{% block body_block %}

<div><left><h2>About</h2></left></div><br>

<div>
  <left><label>Overview</label></left>
  <left><p>The Ultimate Review is a web application designed to help researchers carry Systematic Reviews on medical topics.
  Results are medical research papers, provided by the PubMed search engine.</p></left><br>
  <left><label>How to use The Ultimate Review? / What is a systematic review?</label></left>
  <left><p>As a registered user, you can create Review topics, which can be saved, edited or deleted.
  Your 'My Reviews' page will contain all of your current reviews.
  Within each review, you can search the PubMed search engine by typing your desired
  query. Queries can be issued using either the useful Query Constructor tool, or the standard search bar.
  All queries can be saved, edited or deleted.<br><br>
  After issuing a query, you will be taken to the Abstract Pool. Within the abstract pool,
  the abstract of each document will be displayed. Upon reading the abstract, you may mark it relevant or not relevant.
  Once all abstracts have been read, you will be taken to the document pool.<br><br>
  The document pool consists of all the documents which you previously marked relevant, only now, the link (when available)
  to each relevant document is now revealed, allowing you to read the entire document.
  Again, you can mark the document relevant or not relevant.<br><br>
  Upon completion of the document pool, the remaining relevant documents make up the results of your review topic!<br>
  </p></left><br>
  <left><label>What if I am not registered?</label></left>
  <left><p>If you are an un-registered user, you may still query PubMed. However, you cannot save review topics, you cannot
  save queries and you are limited to 5 search results.
  </p></left><br>
  <left><label>How to navigate the site?</label></left>
  <left><p>The homepage can always be accessed by clicking on the logo in the top left corner.<br><br>
  Once logged in, the 'My Reviews' link will appear. Upon completion of the Abstract and Document pools,
  you may click 'My Reviews' in order to proceed to the next step of the systematic review process.
  This allows you the ultimate flexibility to make many queries in one systematic review topic.<br><br>
  </p></left><br>
  <center><p>&#169 The Ultimate Review</p></center>
</div>

{% endblock %}
