{% extends 'ultimatereview/base.html' %}

{% load staticfiles %}

{% block title %}{{ review_name }}{% endblock %}

{% block body_block %}

<html>
<head>
	<link rel="stylesheet" href = "{% static 'css/abstract_pool.css' %}">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.mins.js"></script>
	<script src="{% static "js/AbstractPool.js" %}"></script>
</head>

<div class="content">

      <div><h2>Abstract Pool: {{ Abstracts.0.count  }} results found. Displaying: {% with Abstracts|last as last %}
            {{ last.compareCount }}
        {% endwith %}</h2></div>
      <ul id="documentAbstract"></ul>

	<form method="POST" action="/ultimatereview/singlereview/{{ review.title }}/">
  		{% csrf_token %}
        <button name = "abstractReturn" value = {{ Abstracts }}>Back</button>
	</form>
<!---<a style ="margin-left: 65%" href="/ultimatereview/singlereview/{{ review.title }}/DocumentPool/"><button>Evaluate Relevant Documents</button></a>
--->
    <div  class = 'AbstractSpace'>
        <h2>Document Abstract </h2>
        <p id = 'AbstractSpace' name = 'CurrentAbstract'></p>
      </div>


      {% for Abstract in Abstracts %}
        <table style="width:20%"  id = "abstract" class = "SelectionTable">
          <tr>
             <td>
             <h2>{{ Abstract.compareCount }}</h2>
               <h2 class = "centre">Document Title</h2>
               <p>{{Abstract.title}}</p>

               <h2 class = "centre"><strong>Document Author(s)<strong/></strong></h2>
               <p class = "centre">
                 {% for author in Abstract.author %}
                 {{ author }}
                 <br />
                 {% endfor %}
               </p>
               <hr>
               <button value="{{ Abstract.abstract }}" id = "AbstractButton">Retrieve Abstract</button>
               <form method = "POST" accept-charset="US-ASCII">
                 {% csrf_token %}
                 <button type="submit" value="Test" name="relevant_button" >Relevant</button>
                    <input name = "queryField" value = "{{ query }}" style="display:none;" />
                    <input name = "hiddenCompareCount" value = "{{ Abstract.compareCount }}" style="display:none;" />
                   <input name = "results" value = "{{ Abstracts }}" style= "display:none;" />
                   <input name = "relevanceField" value = "relevant" style = "display:none;"/>
              </form>
              <form method = "POST" accept-charset="US-ASCII" >
                  {% csrf_token %}
                  <input name = "hiddenCompareCount" value = "{{ Abstract.compareCount }}" style="display:none;" />
                <button type="submit" value="Test-irrelevant" name="irrelevant_button">Not Relevant</button>
                <input name = "queryField" value = "{{ query }}" style="display:none;" />
                <input name = "relevanceField" value = "irrelevant" style = "display:none;"/>
                  <input name = "results" value = "{{ Abstracts }}" style= "display:none;" />

              </form>
            </td>
          </tr>
        </table>

      {% endfor %}
      <hr />

</html>

{% endblock %}
