{% extends 'ultimatereview/base.html' %}

{% load staticfiles %}

{% block title %}My Profile{% endblock %}

{% block body_block %}

<div>
    <h2>Final Pool</h2>
</div>
<div>
    {% if alert_message %}
    {{ alert_message }}
    {% endif %}
</div>
<div>
    <table border="3" style="width:100%">
    <h2><thead>
        <th width = "70%">Document Title</th>
        <th width = "15%">Full Text</th>
    </thead></h2>
    <tbody>
        {% if documents %}
        {% for document in documents %}
        <tr>
            <td>{{ document.title }}</td>
            <td>
			{% if document.full_text %}
			<a target="_blank" href="{{ document.full_text }}" ><button>Link</button></a>
			{% else %}
			Not available
			{% endif %}
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td width = "100%">You have no documents in the Final Pool</td>
        </tr>
        {% endif %}
    </tbody>
    </table>
</div>

{% endblock %}