{% extends 'ultimatereview/base.html' %}

{% load staticfiles %}

{% block title %}My Profile{% endblock %}

{% block body_block %}

<div>
  <h2>My Reviews</h2>
</div>
<div>

  <form method="POST" action="/ultimatereview/myreviews/">
      {% csrf_token %}
      Review Name: <input type="text" name="review" value="" />
	  {% if alert_message %}
	  {{ alert_message }}
	  {% endif %}
      <br />

      <input type="submit" value="Create Review" />
  </form>

</div>

<div>
  <table border="3" style="width:100%">
    <h2><thead>
      <th width = "65%">Review Title</th>
      <th width = "20%">Date Started</th>
	  <th width = "15%">Options</th>
    </thead></h2>
    <tbody>
      {% if reviews %}
      {% for review in reviews %}
      <tr>
        <td><a href="/ultimatereview/singlereview/{{ review.slug }}"><button>{{ review.title }}</button></a></td>
        <td>{{ review.date_started }}</td>
		<td>
		    <form method="POST" action="/ultimatereview/myreviews/">
			    {% csrf_token %}
                <button type="submit" name="delete_review" value={{ review.slug }}>Delete</button>
            </form>
			<a href="/ultimatereview/editreview/{{ review.slug }}"><button>Edit</button></a>
		</td>
      </tr>
      {% endfor %}
      {% else %}
      <tr>
        <td width = "100%">You have no reviews</td>
      </tr>
      {% endif %}
    </tbody>
  </table>
</div>

{% endblock %}
