body {
    margin: 0;
}

table {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    height: 100%;
    overflow: auto;
}

button {
    display: block;
    color: #000;
    padding: 8px 8px 8px 16px;
    text-decoration: none;
}

.horizontalLine{
    height: 3px;
    background-color: #000000;
    border-bottom:10px solid #ffffff;
    padding-bottom:2px;
}

.SelectionTable{
    border: 1px solid black;
    border-collapse: collapse;
    overflow: scroll;
}

.AbstractSpace{
    position: fixed;
    border: 1px solid #000000;
    width: 75%;
    right: 0;
}
