body {
    margin: 0;
}

table {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    height: 100%;
    overflow: auto;
}

button {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

button.active {
    background-color: #4CAF50;
    color: white;
}

button:hover:not(.active) {
    background-color: #555;
    color: white;
}
