body {
    margin: 0;
}

.result {
    border-radius: 25px;
    border: 2px solid #ff9400;
    padding: 20px;
    width: 98%;
}

table {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    height: 100%;
    overflow: auto;
}

button {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

.horizontalLine{
    height: 3px;
    background-color: #000000;
    border-bottom:10px solid #ffffff;
    padding-bottom:2px;
}

.SelectionTable{
    border: 1px solid black;
    border-collapse: collapse;
    overflow: scroll;
}

.AbstractSpace{
    border-radius: 25px;
    border: 2px solid #ff9400;
    padding: 20px;
    position: fixed;
    width: 70%;
    right: 5%;
    left: 25%
}
