h1 {
    color: #FFFFFF;
    font-family: 'Lobster';
    background-color: #ff9400;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

h1 a {
  color: #FFFFFF
}

h2 {
    color: #FCA205;
    font-size: 16px;
}

h2 a {
    color: #FCA205;
}

h4 a {
    color: #FCA205;
}
