div {
	padding-top: 20px;
	padding-left: 10px;
	color: #ff9400;
}

.queries {
	color: #ff9400;
	padding-top: 20px;
}
.queryButton{
	padding-left: 200px;
}

.margins {
	margin: 10px;
}

textarea{
	width: 98%;
}

tr, td
{
    border: 1px solid black;
}
.header
{
    cursor:pointer;
}